body,* {
	margin: 0 auto;
	float: none;
	font-size: 12px;
	font-family: Verdana, Times New Roman, sans-serif;
	line-height: 17px;
	color: #000000;
}

body {
	background-color: #FFFFFF;
	background-image: url('img/background.jpg');
	background-repeat: repeat-x;
	text-align: center;
}

div#container {
	width: 900px;
	text-align: center;
}

div#top {
	width: 100%;
	height: 105px;
	background-color: transparent;
}

div#logo {
	float: left;
	width: 60px;
	height: 100%;
	background-image: url('img/logo.jpg');
	background-repeat: no-repeat;
	background-position: 0px 26px;
	background-color: transparent;
}

div#logoPkTxt {
	float: left;
	width: 405px;
	height: 100%;
	background-image: url('img/logoPkTxt.png');
	background-repeat: no-repeat;
	background-position: 0px 25px;
	background-color: transparent;
}

div#logoAppTxt {
	float: right;
	width: 320px;
	background-image: url('img/logoAppTxt.png');
	background-repeat: no-repeat;
	background-position: 130px 0px;
	background-color: transparent;
	padding-top: 87px;
	text-align: right;
}

div#topMenu {
	float: left;
	clear: both;
	background-color: #FBB700;
	width: 900px;
	height: 20px;
	text-align: center;
}

div#topMenu a {
	padding: 0px 20px 0px 20px;
}

div#topMenu a:link,div#topMenu a:visited,div#topMenu a:active {
	color: #002A3D;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
}

div#topMenu a:hover {
	color: #63241D;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
}

div#middle {
	float: left;
	clear: both;
	background-color: #FFFFFF;
	width: 100%;
}

div#menu {
	float: left;
	width: 170px;
}

div#menu a {
	clear: both;
	float: left;
	padding: 2px 0px 4px 12px;
}

div#menu a.main:link,div#menu a.main:visited,div#menu a.main:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

div#menu a.main:hover {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	text-decoration: underline;
}

div#menu a.second:link,div#menu a.second:visited,div#menu a.second:active {
	color: #002A3D;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	margin-left: 15px;
}

div#menu a.second:hover {
	color: #63241D;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	margin-left: 15px;
}

div#content {
	float: right;
	width: 709px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

div#bottom {
	float: left;
	clear: both;
	width: 100%;
	background-color: transparent;
	font-size: 10px;
}

.feedbackPanelERROR {
	color: red;
	font-weight: bold;	
}

/* for table */
table.listPage {
	width: 679px;
	border-collapse: collapse;
	background-color: transparent;
	border: 1px solid #c1c9d5;
}

table.listPage td,table.listPage th {
	padding: 5.5px;
	text-align: left;
}

table.listPage * {
	vertical-align: top;
}

table.listPage tr.navigation {
	text-align: left;
	background-color: #e3efff;
}

table.listPage tr.navigation * {
	font-size: 10px;
	padding: 0px 1px 0px 1px;
}

table.listPage tr.headers th {
	background-color: #3c567c;
	height: 28px;
}

table.listPage tr.headers * {
	font-size: 13px;
	text-decoration: none;
	padding-bottom: 4px;
	color: #FFFFFF;
}

table.listPage tr.headers th.wicket_orderNone {
	
}

table.listPage tr.headers th.wicket_orderNone a.wicket_orderNone {
	
}

table.listPage tr.headers th.wicket_orderUp {
	background-image: url('img/up.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #778cac;
}

table.listPage tr.headers th.wicket_orderUp a.wicket_orderUp {
	
}

table.listPage tr.headers th.wicket_orderDown {
	background-image: url('img/down.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #778cac;
}

table.listPage tr.headers th.wicket_orderDown a.wicket_orderDown {
	
}

table.listPage tr.even {
	background-color: #ebe6ff;
}

table.listPage tr.odd {
	background-color: #FFFFFF;
}

/* for table end */ /* for view builder start */
table.viewBuilder {
	width: 700px;
	background-color: #3c567c;
}

table.viewBuilder,table.viewBuilder * {
	text-align: left;
	float: left;
}

table.viewBuilder tr {
	clear: both;
	width: 700px;
}

table.viewBuilderButtons {
	width: 700px;
}

table.viewBuilderButtons td {
	padding: 0px 15px 0px 0px;
}

table.viewBuilderItems {
	width: 695px;
	background-color: #ebe6ff;
}

table.viewBuilderItems tr {
	width: 695px;
	padding: 2px 0px 2px 0px;
	border-bottom: 1px dotted #3c567c;
}

table.viewBuilderItems td.label {
	width: 200px;
	border-right: 1px dotted #3c567c;
}

table.viewBuilderItems td.value {
	padding-left: 5px;
}

/* for view builder end */ /* for form builder start */
table.formBuilder {
	width: 700px;
	background-color: #3c567c;
}

table.formBuilder {
	text-align: left;
	float: left;
}

table.formBuilder tr {
	clear: both;
	width: 700px;
}

table.formBuilderButtons {
	width: 700px;
}

table.formBuilderButtons td {
	padding: 0px 15px 0px 0px;
	text-align: right;
}

table.formBuilderItems {
	width: 699px;
	border: 1px dotted #3c567c;
	border-collapse: collapse;
	background-color: #ebe6ff;
}

table.formBuilderItems td.label {
	width: 200px;
	border: 1px dotted #3c567c;
	padding: 2px 0px 2px 5px;
}

table.formBuilderItems td.value {
	padding-left: 5px;
	border: 1px dotted #3c567c;
	padding: 2px 0px 2px 2px;
}

/* for form builder end */ /* for palete start */
table.palette {
	border: 0px;
	float: left;
}

table.palette td.header {
	text-align: center;
	font-weight: bold;
	font-size: 9pt;
	background-color: transparent;
	border: 0px;
	padding: 5px 0px 0px 0px;
	margin: 0px;
}

table.palette td.pane {
	width: 100px;
	text-align: center;
	vertical-align: top;
	padding-top: 4px;
}

table.palette td.pane select {
	width: 205px;
	height: 100px;
}

table.palette td.buttons { 
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

table.palette td.buttons button {
	width: 40px;
	height: 40px;
}
/* for palette end */

table.rowTable {
	clear: both;
	float: left;
	width: 699px;
	border-collapse: collapse;
	margin-left: 1px;
}

table.rowTable, table.rowTable * {
	border: 1px dotted #3c567c;
	background-color: #FFFFFF;
}

table.rowTable, table.rowTable {
	text-align: left;
}

div.dayName {
	clear: both;
	float: left;
	padding: 5px 0px 5px 0px;
	background-color: #3c567c;
	width: 700px;
	margin-top: 5px;
}

div.dayName span {
	padding-left: 10px;
	color: #FFFFFF;
	font-weight: bold;
}

div.schedule {
	background-color: #ebe6ff;
	width: 705px;
	text-align: center;
	float: left;
	clear: both;
	padding-left: 4px;
	padding-bottom: 5px;
	margin-top: 40px;
}

a.listLink:link, a.listLink:visited, a.listLink:active {
	color: #000000;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	margin-right: 7px;
}

a.listLink:hover {
	color: #63241D;
	font-size: 10px;
	font-weight: bold;
	margin-right: 7px;
}

a.addNew:link, a.addNew:visited, a.addNew:active {
	color: #002A3D;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 14px;
}

a.addNew:hover {
	color: #63241D;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	margin-left: 14px;
}

a.lang:link, a.lang:visited, a.lang:active {
	color: #FFFFFF;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
}

a.lang:hover {
	color: #FFFFFF;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
}